<h2>商品一覧</h2>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <!--ジャンル-->
      <!--ステータス-->
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <!--ジャンル-->
        <!--ステータス-->
      </tr>
    <% end %>
  </tbody>

</table>

