<div class="container"> 
<h1 class="text-center">ABOUT</h1>
<p class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
お子様からお年寄りの方までお召し上がりいただけるよう、<br>
また、全国に発送かのうですので「いつ」でも「どこ」でもご注文いただけます。<br>
ぜひ、ご注文ください。</p>
<div class="d-flex align-items-center justify-content-center"><%= image_tag "shop.jpg", size:'640x360'%></div> 
</div>